@page
@model IndexModel
@{
    ViewData["Title"] = "SpaceGhost";
}



<main>  
    <div class="glitch-wrapper">
        <span class="glitch" data-glitch="Space Ghost">Space Ghost</span></br>
        <span class="glitch" data-glitch="Coast To Coast">Coast To Coast</span>
    </div>

    <div class="video_container">
        <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/WSEpDD8j6-c?si=sHT82RY_Km9M3gSc"
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
        encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</main>
